* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: lightsalmon;
}

header {
    background-color: rgb(255, 218, 185);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    position: relative;
}

.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

nav li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

nav li span {
    padding-top: 5px;
}

li a {
    padding: 5px;
    background-color: #fff;
    text-decoration: none;
}

.cart ion-icon {
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 5px;
}

.cart a {
    background-color: blue;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}

.image {
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}

.add-cart {
    position: absolute;
    width: 100%;
    background-color: darkgrey;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4,
.image:hover .cart5,
.image:hover .cart6 {
    bottom: 40px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}

/* --- CART PAGE --- */

.products-container {
    background-color: peachpuff;
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.products-container ion-icon {
    background-color: palegreen;
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.products-header {
    background-color: palevioletred;
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.product-title {
    background-color: pink;
    display: flex;
    justify-content: flex-start;
    width: 45%;   
}

.price {
    background-color: plum;
    width: 55%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center; 
    justify-content: space-around;
}

.quantity {
    background-color: salmon;
    width: 90%;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.total {
    background-color: seagreen;
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

.bookstotalcontainer {
    display: flex;
    justify-content: flex-end;
    width: 100px;
    padding: 10px;
}